:root{
  font-size: 16px;
}
/* Pricing Section */
.pricing {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 1rem;
  background-image:url("/public/background.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.pricing h2 {
  font-size: 2.5rem;
  font-family: "Tillana", serif;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

.pricing-options {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap; /* Allow items to wrap if needed */
  width: 80%;
  max-width: 1200px; /* Max width of the container */
  gap: 1rem; /* gap between boxes */
}

.pricing-box {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  width: 25%;  /* Reduced width to ensure fit in one row */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:center;
  min-height: 8rem; /* Minimum height for uniform boxes */
}

/* Box text styles */
.pricing-box h3 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 1rem;
}

.pricing-box p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.pricing-box ul {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding-left: 1.2rem;
  flex-grow: 1;
}

/* Button styles */
.pricing-box .pricing-button {
  background-color: #ffcc00;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 1.3rem;
  transition: background-color 0.8s ease, transform 0.5s ease;
  margin-top: auto;
  width: 100%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover Effects for Pricing Box */
.pricing-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(183, 152, 30, 0.7);
  border: 2px solid #ffcc00;
}

/* Hover Effects for Pricing Button*/
.pricing-button:hover {
  background-color: #d34adc;
  transform: translateY(-0.2rem);
  animation: glow 1.5s infinite;
}

/* Glow Effect for Buttons */
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(223, 118, 176, 0.5), 0 0 20px rgba(205, 29, 29, 0.4);
  }
  50% {
    box-shadow: 0 0 20px rgba(223, 118, 176, 0.5), 0 0 20px rgba(205, 29, 29, 0.4);
  }
  100% {
    box-shadow: 0 0 10px rgba(223, 118, 176, 0.5), 0 0 20px rgba(205, 29, 29, 0.4);
  }
}


@media (max-width: 70rem) {
  .pricing-box {
      width: 28%;
  }
}

@media (max-width: 69rem) {
  .pricing-box {
      width: 100%;
  }
}

/* Heading and text font styles */
h1 {
  font-family: "Tillana", system-ui;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Tillana", system-ui;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "Tillana", system-ui;
  font-weight: 400;
  font-style: normal;
}

p, li, ul {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}
#popupMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: white;
  border: 0.1rem solid #5a4f4f;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}